/**
 * Hey, I'm the test scss for gulp
 */
/*
    Created on : May 10, 2016, 11:50:34 PM
    Author     : iGregor
*/

$green: #00975f;

body {
    transition: background 0.3s;
    transform: translate(-50%,0);
}
